<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil GitHub</title>
</head>
<body>
  <div class="container">
    <article>
      <img src="<%= usuario.avarar_url %>" alt="">
      <h1><%= usuario.name %></h1>
      <p> <%= usuario.bio %></p>
    </article>
  </div>
  
</body>
</html>